<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Указываем IIS, что нужно использовать iisnode для запуска Node.js-приложения -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Настраиваем правила переадресации URL -->
    <rewrite>
      <rules>
        <!-- Переадресовываем все запросы к серверу Node.js, кроме статических файлов -->
        <rule name="NodeJS">
          <match url="^(.*)$" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Правила, предотвращающие доступ к конфиденциальным файлам -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
