<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Указываем IIS, что нужно использовать iisnode для запуска Node.js-приложения -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Настраиваем правила переадресации URL -->
    <rewrite>
      <rules>
        <!-- Переадресовываем все запросы к серверу Node.js, кроме статических файлов -->
        <rule name="NodeJS">
          <match url="^(.*)$" />
          <conditions>
            <!-- Исключаем запросы, относящиеся к iisnode, чтобы избежать циклов -->
            <add input="{REQUEST_FILENAME}" pattern="^/iisnode" negate="true" />
            <!-- Указываем, что должен быть вызван именно серверный файл -->
            <add input="{REQUEST_FILENAME}" pattern="^(.*\.)[^/.]+$" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Правила, предотвращающие доступ к конфиденциальным файлам -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>

  <!-- Дополнительные настройки для iisnode -->
  <location path="server.js">
    <system.webServer>
      <handlers>
        <add name="iisnode" path="*" verb="*" modules="iisnode" />
      </handlers>
      <iisnode
        node_env="production"
        nodeProcessCountPerApplication="1"
        maxConcurrentRequestsPerProcess="1024"
        maxRequestBufferSize="512KB"
        loggingEnabled="true"
        devErrorsEnabled="false"
      />
    </system.webServer>
  </location>
</configuration>
